<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <form action='/update_post' method="get">
        <label><a href="<%= bookmark[0] %>"><%= bookmark[1] %></a></label>
        <button name="link_to_update" type="submit" value="<%= bookmark[0] %>|<%= bookmark[1] %>|<%= bookmark[2] %>">edit</button>
      </form>
    </li>
  <% end %>
</ul>



<form action='/bookmarks' method="get">
  <input type="submit" value="Done!"/>
</form>
