<% if @user %>
  <h1>Welcome, <%= @user.email %></h1>
<% end %>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <form action='/delete' method="post">
        <label><a href="<%= bookmark[0] %>"><%= bookmark[1] %></a></label>
        <button name="link_to_delete" type="submit" value="<%= bookmark[2] %>">x</button>
      </form>
      <p><%= bookmark[3] %></p>
    </li>
  <% end %>
</ul>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<form action='/add' method='post'>
    <input type="text" name="url" required="required" placeholder="url"/>
    <input type="text" name="title" required="required" placeholder="title"/>
    <input type="submit" value="Add"/>
</form>
<form action='/update' method="get">
  <input type="submit" value="Edit mode"/>
</form>
